::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #555;
}

::-webkit-scrollbar-thumb {
    background: #777;
    border-radius: 5px;
}
  

body{
    font-family: 'Rubik', sans-serif;
    background-color: white;
    margin: 0px auto;
    background-image: url(assets/images/bggray.jpg);
}

.navbar button{
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    letter-spacing: 1px;
    padding: 5px 20px 5px 20px;
    margin: 0px 5px 0px 5px;
    border: 0px;
    background-color: #00c6ff;
    border-radius: 100px;
    box-shadow: 0 0.25em 0 #3921ee;
    color: white;
}

.navbar button:hover{
    transition: 100ms linear;
    background-color: #009dff;
}

.navbar button:active{
    transform: translateY(5px);
    box-shadow: none;
}

.container{
    width: 100%;
    height: fit-content;
    margin: 0px auto;
}

.navbar-brand{
    padding: 0px 7px;
    float: left;
    line-height: 0px;
    height: 40px;
    text-align: center;
    margin-top: 5px;
}

.navbar-brand span{
    font-weight: 300;
    font-size: 30px; 
    line-height:40px; 
    margin-left:10px;
    color: rgb(0, 0, 0);
}

.sliderImages{
    height: 500px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: 100% 150%;
}

.carousel-caption p{
    text-shadow: 0px 1px 3px black;
}

.right{
    float: right;
    margin-top: 5px;
    text-align: center;
}

.alert{
    background: #3921ee;
    background: radial-gradient(circle, rgba(57,33,238,1) 0%, #00c6ff 100%);
    font-size: 16px;
    font-weight: 500;
    color: white;
}


.slidetext{
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 20px;
}

.main{
    max-width: 1200px;
    margin: 0px auto;
    margin-top: 40px;
    height: max-content;
}

.slider{
    height: 280px;
    overflow: hidden;
    position: relative;
    border-radius: 0px 0px 15px 15px;
    object-fit: cover;
}

.slider img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-caption h5{
    text-shadow: 0px 1px 3px black;
}

.main .slider:hover img{
    transform: scale(1.1);
    filter: blur(5px);
}

.main .slider h2{
    text-shadow: 
        1px 1px 0 #3921ee,
        2px 2px 0 #006aff,
        0 0 5px black;
    color: white;
    font-size: 40px;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    position: absolute;
    left: 100px;
    bottom: 10px;
}

.main .slider .rubik span{
    font-family: 'Rubik Scribble', sans-serif;
    font-weight: 100;
    font-size: 100px;
    position: absolute;
    left: -20px;
    bottom: -40px;
    transition: transform 100ms;
}

.main .slider:hover span{
    transform: scale(0.9);
}

.main .slider .slidercontent{
    display: none;
    font-family: 'Rubik', sans-serif;
    text-shadow: 0 0 5px black;
}

.main .slider .slidercontent span{
    font-weight: 600;
    color: rgb(255, 76, 76);
    font-size: 25px;
    position: absolute;
    right: 390px;
    top: 50px;
}

.main .slider:hover .slidercontent{
    display: block;
}

.main .slider .slidercontent p{
    position: absolute;
    color: white;
    right: 100px;
    top: 75px;
    width: 400px;
}

/* Tab */

.tablink{
    text-decoration: none;
    color: black;

}

.tab {
    list-style: none;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    background: #f5f4fd;
    padding: 13px 20px;
    border-radius: 30px;
    border: 1px solid #d8d5f2;
}


.tab:hover{
    background: #efedfb;
}

.tab.active{
    color: #fff;
    background: #1099fa;
    border-color: transparent;
}

.background{
    padding: 5px 25px;
    height: fit-content;
    background: radial-gradient(circle, #3921ee 0%, #00c6ff 100%);
    border-radius: 15px;
    color: white;
    margin-bottom: 40px;
}

.background h2{
    text-shadow: 0 0 10px black;
}

/*
.cards .card{
    width: 33%;
    height: 300px;
    cursor: pointer;
    background-color: white;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.491);
    text-align: center;
    border-radius: 5px;
    line-height: 30px;
    margin-bottom: 20px;
    
}

.cards .card img{
    width: 100%;
    height: 62%;
    background-color: white;
    border-radius: 5px;
}

.cards .card span{
    display: block;
    color: black;
    font-size: 20px;
}





.cards .card .etiket{
    width: 75px;
    height: 75px;
    margin: 5px;
    border-radius: 100%;
    line-height: 20px;
    background-color: rebeccapurple;
    position: absolute;
    text-align: center;
    
}

.cards .card .etiket span{
    color: white;
    margin-top: 15px;
}

.cards .card .likebuttons span{
    padding: 10px;
    float: right;
}
*/


.card{
    transition: transform 500ms;
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #000000;
}

.eski-fiyat{
    display: block;
    color: black;
    text-decoration: line-through;
    font-style: italic;
    font-size: 20px;
}

.fiyat{
    display: block;
    color: rgb(0, 188, 163);
    font-weight: 700;
    font-size: 26px;
}

.social ul li{
    display: inline-block;
    color: white;
    padding: 20px 25px 0px 0px;
}

.footerColor{
    background: radial-gradient(circle, #4e37ff 0%, #00c6ff 100%);
}

.list-unstyled a{
    color: white;
}

.iletisim{
    max-width: 1200px;
    margin: 0px auto;
    margin-top: 40px;
    height: 800px;
}

.iletisim .form{
    width: 50%;
    float: left;
    padding: 10px 0px;
}
.iletisim .form span{
    padding-left: 10px;
}

.iletisim .ikiyebolme{
    width: 50%;
    float: left;
}

.iletisim .ikiyebolme input{
    position: relative;
    width: 79%;
    padding: 5px 10px;
    margin: 2px;
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 40px;
    font-size: 1em;
    color: black;
    box-shadow: none;
    outline: none;
}

.iletisim .form span{
    display: block;
    color: #595959;
}

.contact input{
    background-color: white;
    font-family: 'Rubik', sans-serif;
    border: 2px solid black;
    border-radius: 40px;
    font-size: 1em;
}

.contact textarea{
    background-color: white;
    font-family: 'Rubik', sans-serif;
    padding: 5px 10px;
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 15px;
    font-size: 1em;
    color: black;
}

input[type="submit"]{
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    display: block;
    padding: 10px;
    width: 150px;
    background-color: #00c6ff;
    border-radius: 100px;
    box-shadow: 0 0.25em 0 #3921ee;
    color: white;
    outline: none;
    border: none;
}

.form input[type="submit"]:hover{
    transition: 100ms linear;
    background-color: #009dff;
}

.form input[type="submit"]:active{
    transform: translateY(5px);
    box-shadow: none;
}

.hakkimizda .kutular{
    height: fit-content;
    text-align: justify;
    background-color: white;
    outline: 3px dashed #006aff;
    padding: 20px;
}

.hakkimizda .imgkutu{
    border-radius: 15px;
    height: 400px;
    overflow: hidden;
    margin: 0 auto;
}

.clear{
    clear: both;
}
